{
  "openapi": "3.0.0",
  "info": {
    "title": "GitHub API",
    "version": "3.0.0",
    "description": "GitHub repository and user information API"
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "paths": {
    "/repos/{owner}/{repo}": {
      "get": {
        "summary": "Get repository information",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "description": "Repository owner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "description": "Repository name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Repository information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "description": { "type": "string" },
                    "language": { "type": "string" },
                    "stargazers_count": { "type": "number" },
                    "forks_count": { "type": "number" },
                    "created_at": { "type": "string" },
                    "updated_at": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/contents": {
      "get": {
        "summary": "Get repository contents",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "description": "Repository owner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "description": "Repository name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Repository contents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "type": { "type": "string" },
                      "size": { "type": "number" },
                      "download_url": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/contributors": {
      "get": {
        "summary": "Get repository contributors",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "description": "Repository owner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "description": "Repository name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contributors list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "login": { "type": "string" },
                      "contributions": { "type": "number" },
                      "avatar_url": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/commits": {
      "get": {
        "summary": "Get repository commits",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "description": "Repository owner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "description": "Repository name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Commits list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "sha": { "type": "string" },
                      "commit": {
                        "type": "object",
                        "properties": {
                          "message": { "type": "string" },
                          "author": {
                            "type": "object",
                            "properties": {
                              "name": { "type": "string" },
                              "date": { "type": "string" }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/issues": {
      "get": {
        "summary": "Get repository issues",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "description": "Repository owner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "description": "Repository name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Issues list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "number": { "type": "number" },
                      "title": { "type": "string" },
                      "state": { "type": "string" },
                      "created_at": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/pulls": {
      "get": {
        "summary": "Get repository pull requests",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "description": "Repository owner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "description": "Repository name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pull requests list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "number": { "type": "number" },
                      "title": { "type": "string" },
                      "state": { "type": "string" },
                      "created_at": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}