{
  "openapi": "3.0.0",
  "info": {
    "title": "TheMealDB API",
    "version": "1.0.0",
    "description": "Recipe database with meal information and cooking instructions"
  },
  "servers": [
    {
      "url": "https://www.themealdb.com/api/json/v1/1"
    }
  ],
  "paths": {
    "/search.php": {
      "get": {
        "summary": "Search for meals",
        "parameters": [
          {
            "name": "s",
            "in": "query",
            "description": "Search term",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "idMeal": { "type": "string" },
                          "strMeal": { "type": "string" },
                          "strCategory": { "type": "string" },
                          "strInstructions": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lookup.php": {
      "get": {
        "summary": "Lookup meal by ID",
        "parameters": [
          {
            "name": "i",
            "in": "query",
            "description": "Meal ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meal details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "idMeal": { "type": "string" },
                          "strMeal": { "type": "string" },
                          "strInstructions": { "type": "string" },
                          "strIngredient1": { "type": "string" },
                          "strMeasure1": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/filter.php": {
      "get": {
        "summary": "Filter meals by category",
        "parameters": [
          {
            "name": "c",
            "in": "query",
            "description": "Category",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered meals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "idMeal": { "type": "string" },
                          "strMeal": { "type": "string" },
                          "strMealThumb": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}